/*mediante root puedo pegar algo a todo el documento
defino las variables que voy a utilizar
*/
:root {
    --tipografiaGeneral: 'Poppins', 'Arial';
    --colorPrimarioAzul: #004475;
    --colorSecundarioGris: rgb(53, 52, 52);
    --colorSecundarioCeleste: #347cbc;
}